text{
  font-family: Helvetica, Sans Serif;
  font-weight: 100;
}

li{
  font-size: 20px;
}

li ul{
  font-size: 14px;
}

li ul a:hover{
  background-color: lavender;
  color: white;
}

button a{
  color: white;
}

.pay{
  margin: auto;
  padding-top:  5px;
}

.header{
  background-color: #E6E6FA;
  position: fixed;
  z-index: 9999;
  border-bottom: 1px solid #5c5c64;
  height: 10%;
}

.header h1{
  text-decoration: underline; 
  color: navy;
  text-align: left;
}

.header button{
  float: right;
  margin-top: 5px;
  margin-right: 5px;
}

input{
  width: 300px;
}

label input{
  width: 130px;
}

.photo_holder{
  max-height: 50%;
  border: none !important;
}

#placeholder_pic{
  width: 80%;
  margin: auto;
  height: 400px;
}

.register{
  background-color: #E6E6FA;
  border:  1px solid #5c5c64;
  height: 300px;
  width: 500px;
  margin: auto;
  margin-top: 150px;
  box-shadow: 2px 2px grey;
}

#register_submit{
  width: 100px;
}

.register_photo{
  background-image: url('https://s-media-cache-ak0.pinimg.com/originals/fe/8d/24/fe8d240e1c621dec4ce62bb587d7b3cf.jpg');
  height: 90vh;
  width: 100%;
  position: fixed;
}

.register_footer{
  margin-top: 440px;
  background-color: #E6E6FA;
  text-align: left; 
  height: 85px;
  border-top: 1px solid #5c5c64;
}

.register_footer h4{
  float: right;
}

.dropdown{
  display: inline-block;
  margin-left: 0;
}

.auction_titles{
  margin: auto;
  margin-left: 20%;
  margin-right: 20%;
}

#auction_photo{
  max-width: 100%;
  max-height:  100%;
  border: none;
}

.App {
  text-align: center;
  font-family: Julius Sans One, Josefin Sans, Sans Serif;
}

.category-header{
  margin-top: 100px;
}

#dropdownMenuButton{
  float: left;
  display: inline-block;
}

.navbar{
  float: right;
  width: 90%;
}

.navbar ul{
  float: right;
  display: inline-block;
  margin-right: 20px;
}

#searchbar{
  width: 250px;
}

.mores{
  text-align: right;
  height: 30px !important;
  overflow: hidden;
}

.best-examples, .shop-by-region-examples, .shop-by-category-examples{
  margin-bottom: 20px;
  text-align: left;
  padding-left: 5%;
  padding-right: 5%;
}

.best-examples div, .shop-by-region-examples div, .shop-by-category-examples div{
  margin: auto;
  height:  420px;
  background-color: #f5f5fd;
  overflow: hidden;
  padding: 10px;
}

.col-sm-3{
  border: 1px dashed #5c5c64;
  padding: 10px;
  box-shadow: 2px 2px grey;
}

.footer{
  background-color: #E6E6FA;
  text-align: left; 
  height: 85px;
  margin-top: 100px;
  border-top: 1px solid #5c5c64;
}

.footer h4{
  float: right;
}

.payment{
  background-color: lightgray;
  height:  700px;
  width: 700px;
  margin: auto;
  text-align: center;
}



@keyframes globe-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
